
<%-include("./pacials/header")%> 

<form action="/create" method="post">

    <input type="text" name="name" placeholder="book name">

    <input type="text" name="author" placeholder="author name">

    <input type="text" name="price" placeholder="book price">

    <button>submit</button>

</form>


<%-include("./pacials/footer")%> 